
@{
    ViewData["Title"] = "Categories";

}

    <h1>Categories</h1>


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Control Panel for  Categories </h3>
        <button type="button" class="btn btn-primary" style="float:right;   " data-toggle="modal" data-target="#modal-default">
            Add new Category
        </button>

    </div>


    <!-- /.card-header -->
    <div class="card-body">
        <table id="categoryTbl" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Arabic Name</th>
                    <th>English Name</th>
                    <th>French Name</th>
                    <th>Insert Date</th>
                    @*<th>Insert User</th>
                      <th>Is Deleted</th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
    
            </tbody>
           
        </table>
    </div>
    <!-- /.card-body -->
</div>


<!-- /.modal -->

<partial name="_Add" />

<!-- /.modal -->
@section ScriptsLinks {

    <script src="~/lib/jquery/jquery.unobtrusive-ajax.js"></script>
}

    @section Scripts {


        <script src="~/AdminLTE-3.0.2/dist/js/demo.js"></script>
        <!-- page script -->
        <script>

            completed = function (response) {
                var result = response.responseJSON
                console.log(response.responseJSON)
                $.toast({
                    heading: '',
                    text:'تم الحفظ بنجاح',
                    showHideTransition: 'slide',
                    icon: ''
                })
                    ;

                clearForm("#addCategory");
            };

            failureAdd = function (jqXHR, status) {
                $.toast({
                    heading: 'Error',
                    text: 'Uncaught Error.\n' + jqXHR.responseText,
                    showHideTransition: 'fade',
                    icon: 'error'
                })
            };

            //completed = function (xhr) {
            //    alert(`Hi ${xhr.responseText}!`);
            //};
            $(function () {
                $(".editCat").click(function () {
                    $('#modal-default').modal('show');
                });

                var table = $("#categoryTbl");


                    $(document).ready(function () {

                        // $("#MyDataTable").DataTable();

                        BindDataTable();
                    })
                    $('#SearchName').click(function () {
                        BindDataTable.ajax.reload();

                    });
                    var BindDataTable = function (response) {

                        table.DataTable({
                            "destroy": true,
                            "bServerSide": true,
                            "sSearch": "Search all columns:",
                            "sAjaxSource": "/ADMIN/Category/GetCategoriesAjax",
                            "aaSorting": [[0, "desc"]],
                            "processing": "true",
                            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                          
                            "language": {
                                //"aria": {
                                //    "sortAscending": ": تفعيل لترتيب العمود تصاعدياً",
                                //    "sortDescending": ": تفعيل لترتيب العمود تنازلياً"
                                //},
                                "emptyTable": "لا يوجد بيانات",
                                "info": "عرض _START_ إلى _END_ من _TOTAL_ صفوف",
                                "infoEmpty": "لم يتم العثور على نتائج",
                                "infoFiltered": "(filtered1 من _MAX_ العدد الكلي)",
                                "lengthMenu": "_MENU_ اظهار",
                                "search": "بحث:",
                                "processing": '<h1>جاري جلب البيانات ...</h1>',
                                "zeroRecords": "لم يتم العثور على عناصر مطابقة",
                                "oPaginate": {
                                    "sFirst": "الأول",
                                    "sPrevious": "السابق",
                                    "sNext": "التالي",
                                    "sLast": "الأخير"
                                },
                            },
                            aoData: {
                                "data": function (d) {
                                    return $.extend({}, d, RefrechParam([
                                        //{ paramId: 'job', inputId: 'job' },
                                        //{ paramId: 'FullName', inputId: 'FullName' },
                                        //{ paramId: 'User_ID', inputId: 'hdnUserID_Search' }
                                    ]));
                                },
                            },
                            "fnServerData": function (sSource, aoData, fnCallback) {

                                $.ajax({
                                    type: "POST",
                                    data: aoData,
                                    url: sSource,
                                    success: fnCallback
                                })

                            },
                            "aoColumns": [
                                {
                                    data: null, render: function (data, type, row, iDisplayIndex) {
                                        return (iDisplayIndex.row + 1);

                                    }

                                },
                                { data: "arabicName" },
                                { data: "englishName" },
                                { data: "frenchName" },
                                {
                                    data: null, render: function (data, type, row) {
                                        console.log(data.insertDate)
                                        if (data.insertDate == 'null' || data.insertDate == null)
                                            return "";

                                        var date = new Date(data.insertDate);
                                        return  moment(data.insertDate).format("DD-MM-YYYY hh:m");
                                    }
                                },
                                //{ data: "insertUser" },
                                //{ data: "isDelete" },
                                {
                                    data: null, render: function (data, type, row) {


                                        return'<a data-ajax="true" data-ajax-method="get" data-ajax-complete="completed" data-ajax-failure ="failure"  class="btn blue btn-sm btn-outline sbold editCat" style="margin-left: 5px;" title=" Edit/تعديل"> <i class="fa fa-edit fa-fw"></i> Edit</a></div>'

                                        //+ '<a href="AddEditUser?UserID=' + data.id + '" class="btn blue btn-sm btn-outline sbold" style="margin-left: 5px;" title=" تعديل"> <i class="fa fa-edit fa-fw"></i> تعديل</a></div>'
                                        //+ '<a href=/Quarantine/AddPersonMovement?id=' + data.id + '    data-ajax="true" data-ajax-method="get" data-ajax-complete="completed" data-ajax-failure ="failure"  class="btn blue btn-sm btn-outline sbold" style="margin-left: 5px;" title=" نقل"> <i class="fa fa-edit fa-fw"></i> نقل نزيل</a></div>'
                                        // +'<a class="AddProduct"> Add Product</a>'

                                    }
                                }

                            ], "rowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {


                            }, "drawCallback": function (settings) {

                                //if (typeof DrawCallbackFunction === "function") {
                                //    DrawCallbackFunction();

                                //}
                                $('#categoryTbl').on('click', 'a.editCat', function () {
                                    $('#modal-default').modal('show');
                                });

                            },

                        });


                    }




               
            });
        </script>
    }